.business-solutions {
    width: 100%;

    &--page {
        padding: 0 20px;
        margin-top: 90px;
    }

    &__buttons {
        position: absolute;
        top: 65%;
        left: 58%;
        width: 20%;
        max-width: 270px;

        &--right {
            top: 57%;
            left: 67%;
        }

        &--right-top {
            top: 52%;
            left: 74%;
        }

        &--bottom {
            top: 84%;
            left: 59%;
        }

        &--center {
            top: 80%;
            left: 41%;
        }

        img {
            display: block;

            &:first-child {
                margin-bottom: 2px;
            }
        }
    }
}