.contact {
    background-color: white;
    padding: 30px 100px 30px;
    position: relative;

    @media (max-width: 991px) {
        padding: 30px;
    }

    input,
    textarea {
        width: 100%;
        background-color: $light-sky-blue;
        border-radius: 8px;
        border: none;
        font-size: 20px;
        padding: 0 20px;
        color: $lochmara;
        outline: none;

        &::-webkit-input-placeholder {
            color: $lochmara;
            opacity: 0.5;
        }

        &::-moz-placeholder {
            color: $lochmara;
            opacity: 0.5;
        }

        &:-ms-input-placeholder {
            color: $lochmara;
            opacity: 0.5;
        }

        &:-moz-placeholder {
            color: $lochmara;
            opacity: 0.5;
        }
    }

    input[type='text'],
    input[type='email'] {
        height: 40px;
        margin-bottom: 10px;
    }

    input[type='submit'] {
        height: 40px;
        color: white;
        background-color: $lochmara;
        width: 230px;
        display: block;
        margin: 0 auto;
        font-weight: bold;
    }

    textarea {
        resize: none;
        height: 140px;
        padding-top: 5px;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;

        @media (max-width: 991px) {
            margin-bottom: 5px;
            border-bottom-right-radius: 8px;
            border-top-right-radius: 8px;
        }
    }

    &__title {
        text-align: center;
        color: $lochmara;
        font-weight: bold;
        margin: 0 0 30px;

        &--small {
            text-align: left;
            margin: 0 0 10px;
        }
    }

    &__send {
        border: 2px solid $light-sky-blue;
        height: 140px;
        border-bottom-right-radius: 8px;
        border-top-right-radius: 8px;
        background-color: white;

        @media (max-width: 991px) {
            border-bottom-left-radius: 8px;
            border-top-left-radius: 8px;
        }

        @media (min-width: 650px) and (max-width: 991px) {
            display: flex;
            align-items: center;
        }
        
        @media (min-width: 992px) {
            margin-left: -60px;
            width: calc(100% + 60px);
        }
    }

    &__status-mail {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 80px;
        margin-top: 30px;
    }

    &__success-mail {
        display: none;
        text-align: center;
        color: #346799;
        font-weight: bold;
        font-size: 28px;
    }

    &__recaptcha-fail {
        display: none;
        text-align: center;
        color: #993434;
        font-weight: bold;
        font-size: 28px;
    }

    &__sending-gif {
        display: none;
    }
}