.contact {
    background-color: white;
    padding: 30px 100px;

    input,
    textarea {
        width: 100%;
        background-color: $blue4;
        border-radius: 8px;
        border: none;
        font-size: 20px;
        padding: 0 20px;
        color: $dark-blue;
        outline: none;

        &::-webkit-input-placeholder {
            color: $dark-blue;
            opacity: 0.5;
        }

        &::-moz-placeholder {
            color: $dark-blue;
            opacity: 0.5;
        }

        &:-ms-input-placeholder {
            color: $dark-blue;
            opacity: 0.5;
        }

        &:-moz-placeholder {
            color: $dark-blue;
            opacity: 0.5;
        }
    }

    input[type='text'],
    input[type='email'] {
        height: 40px;
        margin-bottom: 10px;
    }

    input[type='submit'] {
        height: 40px;
        color: white;
        background-color: $dark-blue;
        width: 230px;
        display: block;
        margin: 0 auto;
        font-weight: bold;
    }

    textarea {
        resize: none;
        height: 140px;
        padding-top: 5px;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
    }

    &__title {
        text-align: center;
        color: $dark-blue;
        font-weight: bold;
        margin: 0 0 30px;

        &--small {
            text-align: left;
            margin: 0 0 10px;
        }
    }

    &__send {
        margin-left: -30px;
        border: 2px solid $blue4;
        height: 140px;
        border-bottom-right-radius: 8px;
        border-top-right-radius: 8px;
    }

    &__success-mail {
        display: none;
    }
}