.header {
    position: fixed;
    width: 100%;
    z-index: 10;
    top: 0;

    &__wrapper {
        position: relative;
        height: 160px;
        background-color: white;
        max-width: 1220px;
        width: 100%;
        margin: 0 auto;
        padding: 0 15px;
        box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.31);

        @media (max-width: 991px) {
            height: 80px;
        }
    }

    &__container {
        display: flex;
        justify-content: center;
        position: relative;
        height: 160px;

        @media (max-width: 991px) {
            height: 80px;
        }
    }

    &__nav-container {
        display: flex;
        justify-content: center;
        width: calc(100% - 275px);
        border-radius: 0;
        margin-bottom: 0;
        border: none;
    }

    &__nav {
        margin: 0;
        display: flex;
        list-style: none;
        padding: 0;
        align-items: center;

        @media (min-width: 992px) {
           display: flex !important;
        }


        @media (max-width: 991px) {
            width: 100%;
            position: fixed;
            top: 80px;
            display: block;
            left: 0;
            background-color: white;
            display: none;
        }


        a {
            width: 95px;
            text-align: center;
            color: $jordy-blue;

            @media (max-width: 1199px) {
                width: 100%;
            }

            &:hover {
                color: $jordy-blue;
                text-decoration: none;
                background-color: white !important;
            }

            &:focus {
                background-color: white !important;
            }
        }
    }

    &__link {
        position: relative;
        display: flex !important;
        align-items: center;
        width: 170px;
        justify-content: center;
        margin: 0 15px;
        height: 50%;
        cursor: pointer;


        @media (max-width: 1200px) {
            width: 120px;
        }

        @media (max-width: 991px) {
            width: 100%;
            text-align: center;
            padding: 15px 0;
            height: auto;
            margin: 0;

            &:after {
                display: none;
            }
        }

        &:hover {
            &:after {
                background-color: $pale-cornflower-blue;
            }
        }

        &:after {
            content: '';
            height: 8px;
            width: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            background-color: $pattens-blue;
            border-radius: 5px;
        }

        &.active {
            &:after {
                background-color: $pale-cornflower-blue;
            }

        }

        a {
            padding: 0 !important;
        }
    }

    &__brand {
        height: 160px;
        display: flex;
        align-items: center;
        width: 130px;
        margin-left: 15px;

        @media (max-width: 991px) {
            height: 60px;
            margin: 10px 0 10px 15px;

            img {
                height: 100%;
            }
        }
    }

    &__language {
        height: 100%;
        display: flex;
        align-items: center;
        width: 130px;
        justify-content: center;
        position: relative;
        cursor: pointer
    }

    &__other-languages {
        position: absolute;
        top: 45%;
        right: 0;
        padding: 20px 20px 20px 50px;
        background-color: white;
        width: calc(100% + 30px);
        box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.31);
        list-style: none;
        margin: 0;
        z-index: -1;
        transition: 500ms ease-out;

        @media (max-width: 991px) {
            width: 100%;
            padding: 20px;
            top: -5%;
        }

        &--open {
            top: 100%;
        }
        
        a {
            display: block;
            width: 100%;
        }

        img {
            display: block;

            @media (max-width: 991px) {
                margin: 0 auto;
            }
        }
    }

    &__arrow {
        margin-left: 15px;
        transform: rotate(0deg);
        transition: transform 400ms ease-out;

        @media (max-width: 991px) {
            display: none;
        }

        &--up {
            transform: rotate(-180deg);
        }
    }

    &__hamburger-container {
        height: 100%;
        display: flex;
        align-items: center;
    }

    &__hamburger {
        display: none;
        width: 20px;
        height: 20px;

        @media (max-width: 991px) {
            display: block;
        }
    }

    &__icon-bar {
        display: block;
        width: 20px;
        height: 3px;
        margin: 3px;
        background-color: $jordy-blue;
    }
}

