.header {
    position: fixed;
    width: 100%;
    z-index: 10;

    &__container {
        display: flex;
        justify-content: center;
        position: relative;
        height: 160px;
        background-color: white;
        max-width: 1220px;
        width: 100%;
        margin: 0 auto;
        padding: 0 15px;

        @media (max-width: 991px) {
            height: 80px;
        }
    }

    &__nav-container {
        display: flex;
        justify-content: center;
        width: calc(100% - 275px);
    }

    &__nav {
        margin: 0;
        display: flex;
        list-style: none;
        padding: 0;
        align-items: center;


        @media (max-width: 991px) {
            width: 100%;
            position: fixed;
            top: 80px;
            display: block;
            left: 0;
            transform: translateY(-100%);
            transition: 600ms ease-out;
            z-index: -1;
            background-color: white;
        }

        &--visible {
            transform: translateY(0%);
        }

        a {
            width: 80px;
            text-align: center;
            color: $blue;

            @media (max-width: 991px) {
                width: 100%;
            }

            &:hover {
                color: $blue;
                text-decoration: none;
            }
        }
    }

    &__link {
        position: relative;
        display: flex;
        align-items: center;
        width: 170px;
        justify-content: center;
        margin: 0 15px;
        height: 50%;
        cursor: pointer;


        @media (max-width: 1200px) {
            width: 120px;
        }

        @media (max-width: 991px) {
            width: 100%;
            text-align: center;
            padding: 15px 0;
            height: auto;
            margin: 0;

            &:after {
                display: none;
            }
        }

        &:hover {
            &:after {
                background-color: $light-blue;
            }
        }

        &:after {
            content: '';
            height: 8px;
            width: 100%;
            position: absolute;
            bottom: 0;
            background-color: $light-blue2;
            border-radius: 5px;
        }

        &--active {
            &:after {
                background-color: $light-blue;
            }

        }
    }

    &__brand {
        height: 160px;
        display: flex;
        align-items: center;
        width: 130px;
        margin-left: 15px;

        @media (max-width: 991px) {
            height: 60px;
            margin: 10px 0 10px 15px;

            img {
                height: 100%;
            }
        }
    }

    &__language {
        height: 100%;
        display: flex;
        align-items: center;
        width: 130px;
        justify-content: center;
    }

    &__other-languages {
        display: none;
    }

    &__hamburger-container {
        height: 100%;
        display: flex;
        align-items: center;
    }

    &__hamburger {
        display: none;
        width: 20px;
        height: 20px;

        @media (max-width: 991px) {
            display: block;
        }
    }

    &__icon-bar {
        display: block;
        width: 20px;
        height: 3px;
        margin: 3px;
        background-color: $blue;
    }
}

