.img-box {
    height: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 102% auto;

    &--1 {
        width: 100%;
    }

    &--3 {
        width: calc(100% / 3);
    }

    &--4 {
        width: calc(100% / 4);
    }

    &--5 {
        width: calc(100% / 5);
    }

    @media (max-width: 480px) {
        width: 100%;
        height: 70vh;
        display: block;
        margin: 15px 0;
    }

    img {
        width: 100%;
    }
}