.img-box {
    height: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 102% auto;

    @media (max-width: 991px) {
        background-size: cover;
    }

    &--1 {
        width: 100%;
    }

    &--2 {
        width: 50%;
    }

    &--3 {
        width: calc(100% / 3);
    }

    &--4 {
        width: calc(100% / 4);
        @media (max-width: 991px) {
            background-size: contain;
        }
    }

    &--5 {
        width: calc(100% / 5);
        @media (max-width: 991px) {
            background-size: contain;
        }
    }

    @media (max-width: 480px) {
        width: 100%;
        height: 70vh;
        display: block;
        
        &:not(:first-child) {
            margin-top: 15px;
        }

        &:last-child {
            margin-bottom: 15px;
        }
    }

    &--product {
        background-size: cover;

        @media (max-width: 480px) {
            height: 52vh;
        }
    }

    img {
        width: 100%;
    }
}