.products {
    background-color: white;
    padding: 10px 25px;

    &__btn {
        background-color: $whisper;;
        height: 75px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        border-radius: 8px;
        margin: 5px -10px;
        color: $danube;
        font-size: 20px;

        &:hover {
            text-decoration: none;
            background-color: $sail;
            color: white;
        }

        &--big {
            height: 45px;
            background-color: $sail;
            color: white;
        }
    }

    &__preview-img {
        display: none;
        position: absolute;
        bottom: 105%;
        z-index: 2;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
    }
}