.swiper-container {
    max-height: 100%;

}

.swiper-slide {
    &--business-solutions {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        img {
            width: 100%;
        }
    }
}

.swiper-pagination-bullet {
    border: 2px solid $blue-bullet;
    width: 14px;
    height: 14px;
    background-color: transparent;
}

.swiper-pagination-bullet-active {
    background-color: $blue-bullet;
}