.title {
    text-transform: uppercase;
    color: white;
    text-align: center;
    margin: 0;

    &--blue {
        color: $light-sky-blue;
        max-width: 330px;
        text-align: left;
        margin-left: 15px;

        span {
            color: white;
        }
    }

    

}