<section id="about" class="section-offset">
    <div class="about">
        <div class="about__info">
            <div class="row">
                <div class="col-md-6">
                    <p>
                        <b><em>SBC Solutions Ltd</em></b> is an exclusive dealer for <b><em></em></b> Azbar Plus Inc. Company, that has been designing, manufacturing, and selling bar, restaurant and
                        hotel control and management systems and related services for over 20 years. Using its technology and expertise, it seeks
                        to supply the bar and restaurant industry with effective and efficient tools for operations control and management.
                    </p>
                    <p>
                        <b><em>Azbar</em></b>’s capacity for innovation and its strong growth have earned it several awards for excellence. More than 16,000 installations
                        in Canada, the United States and Europe confirm the quality of products and services.
                    </p>
                </div>
                <div class="col-md-6">
                    <p>
                        <b><em>SBC solutions</em></b> in co-operation with Croatian partners have developed application interfaces to which 
                        <b><em>AzBar</em></b> systems are linked
                        to billing and settlement systems for catering facilities in accordance with the regulations of the Republic of Croatia.
                        In addition to installation and employee training, <b><em>SBC solutions</em></b> offer consulting services to potential and existing system
                        users in order to increase revenue and customer satisfaction.
                    </p>
                    <p>
                         In Croatia, <b><em>SBC solutions</em></b> have so far successfully implemented <b><em>AzBar</em></b> systems to more than 50 locations, thus confirming
                        our mission: to provide catering companies the best solution for managing business by implementing high performance systems.
                    </p>
                </div>
            </div>
        </div>
        <div class="about__data-container">
            <img src="../../../images/sbc_data_logo.png" alt="SBC logo">
            <div class="about__data">
                <div>
                    <p><b>SBC Solutions Ltd</b> for Trade and Services</p>
                    <p>Medpotoki 18, 10000 Zagreb</p>
                    <p><span class="about__data-label">contact #1:</span> +385 91 447 400</p>
                    <p><span class="about__data-label">contact #2:</span> +385 98 234 683</p>
                </div>
                <div>
                    <p><span class="about__data-label">iban:</span> HR6123600001102503309</p>
                    <p><span class="about__data-label">swift:</span> ZABAHR2X</p>
                    <p><span class="about__data-label">oib:</span> 23806183146</p>
                    <p><span class="about__data-label">mbs:</span> 080761949</p>
                </div>
                <div>
                    <p><span class="about__data-label">Registry of the Commercial Court in Zagreb:</span> 080761949</p>
                    <p><span class="about__data-label">Chairman of the Board:</span> Ivan Milinković</p>
                    <p><span class="about__data-label">Board Member:</span> Berislav Kekez</p>
                    <p><span class="about__data-label">Company’s Share Capital:</span> 20.000 HRK (paid up)</p>
                </div>
            </div>
        </div>
    </div>
</section>