<section id="products" class="section-offset">
    <div class="products">
        <div class="row">
            <div class="col-md-3 col-xs-6">
                <a href="./products.html#AZ-pourers-and-seal" class="products__btn">Az Pourers</a>
                <img class="products__preview-img" src="../../../images/az_pourers_product_preview_mouse_over.png" alt="">
            </div>
            <div class="col-md-3 col-xs-6">
                <a href="./products.html#AZ-gun" class="products__btn">Az Gun</a>
                <img class="products__preview-img" src="../../../images/az_gun_product_preview_mouse_over.png" alt="">
            </div>
            <div class="col-md-3 col-xs-6">
                <a href="./products.html#AZ-cocktail-towers" class="products__btn">Az Cocktail Tower</a>
                <img class="products__preview-img" src="../../../images/az_cocktail_tower_product_preview_mouse_over.png" alt="">
            </div>
            <div class="col-md-3 col-xs-6">
                <a href="./products.html#AZ-beer-and-wine-dispensers" class="products__btn">Az Beer & Wine</a>
                <img class="products__preview-img" src="../../../images/az_beer_tower_product_preview_mouse_over.png" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-xs-6">
                <a href="./products.html#AZ-junior-console" class="products__btn">Az Junior Console</a>
                <img class="products__preview-img" src="../../../images/az_junior_product_preview_mouse_over.png" alt="">
            </div>
            <div class="col-md-3 col-xs-6">
                <a href="./products.html#AZ-200-console" class="products__btn">Az 200+ keyboard</a>
                <img class="products__preview-img" src="../../../images/az_200_product_preview_mouse_over.png" alt="">
            </div>
            <div class="col-md-3 col-xs-6">
                <a href="./products.html#backbar" class="products__btn">Az BackBar</a>
                <img class="products__preview-img" src="../../../images/az_backbar_product_preview_mouse_over.png" alt="">
            </div>
            <div class="col-md-3 col-xs-6">
                <a href="./services.html#installation-and-maintenance" class="products__btn">SBC Installation <br>& Maintenance</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <a href="./services.html#financing" class="products__btn products__btn--big">Grenke Financing</a>
            </div>
        </div>
    </div>
</section>