<section id="references" class="section-offset">
    <div class="references">
        <div class="swiper-container swiper-container--references">
            <div class="swiper-wrapper">
    
                <div class="swiper-slide swiper-slide--references">
                    <img src="../../../images/reference_site_no_001.png" alt="reference image">
                    <div class="references__preview">
                        <img src="../../../images/reference_site_no_001_preview_photo.png" alt="preview image">
                    </div>
                    <div class="references__social-icons">
                        <a>
                            <img src="../../../images/web_logo_reference_button_small.png" alt="web icon">
                        </a>
                        <a href="https://www.facebook.com/CaffeBarAlcatrazZagreb/" target="_blank">
                            <img src="../../../images/facebook_logo_reference_button_small.png" alt="Facebook icon">
                        </a>
                        <a>
                            <img src="../../../images/instagram_logo_reference_button_small.png" alt="Instagram icon">
                        </a>
                    </div>
                </div>
    
                <div class="swiper-slide swiper-slide--references">
                    <img src="../../../images/reference_site_no_002.png" alt="reference image">
                    <div class="references__preview">
                        <img src="../../../images/reference_site_no_002_preview_photo.png" alt="preview image">
                    </div>
                    <div class="references__social-icons">
                        <a>
                            <img src="../../../images/web_logo_reference_button_small.png" alt="web icon">
                        </a>
                        <a href="https://www.facebook.com/search/top/?q=Confusion" target="_blank">
                            <img src="../../../images/facebook_logo_reference_button_small.png" alt="Facebook icon">
                        </a>
                        <a>
                            <img src="../../../images/instagram_logo_reference_button_small.png" alt="Instagram icon">
                        </a>
                    </div>
                </div>
    
                <div class="swiper-slide swiper-slide--references">
                    <img src="../../../images/reference_site_no_003.png" alt="reference image">
                    <div class="references__preview">
                        <img src="../../../images/reference_site_no_003_preview_photo.png" alt="preview image">
                    </div>
                    <div class="references__social-icons">
                        <a>
                            <img src="../../../images/web_logo_reference_button_small.png" alt="web icon">
                        </a>
                        <a href="https://www.facebook.com/search/top/?q=Confusion" target="_blank">
                            <img src="../../../images/facebook_logo_reference_button_small.png" alt="Facebook icon">
                        </a>
                        <a>
                            <img src="../../../images/instagram_logo_reference_button_small.png" alt="Instagram icon">
                        </a>
                    </div>
                </div>
    
                <div class="swiper-slide swiper-slide--references">
                    <img src="../../../images/reference_site_no_004.png" alt="reference image">
                    <div class="references__preview">
                        <img src="../../../images/reference_site_no_004_preview_photo.png" alt="preview image">
                    </div>
                    <div class="references__social-icons">
                            <a>
                                <img src="../../../images/web_logo_reference_button_small.png" alt="web icon">
                            </a>
                        <a href="https://www.facebook.com/search/top/?q=Confusion" target="_blank">
                            <img src="../../../images/facebook_logo_reference_button_small.png" alt="Facebook icon">
                        </a>
                        <a>
                            <img src="../../../images/instagram_logo_reference_button_small.png" alt="Instagram icon">
                        </a>
                    </div>
                </div>
    
                <div class="swiper-slide swiper-slide--references">
                    <img src="../../../images/reference_site_no_005.png" alt="reference image">
                    <div class="references__preview">
                        <img src="../../../images/reference_site_no_005_preview_photo.png" alt="preview image">
                    </div>
                    <div class="references__social-icons">
                        <a>
                            <img src="../../../images/web_logo_reference_button_small.png" alt="web icon">
                        </a>
                        <a href="https://www.facebook.com/BarMrFogg/" target="_blank">
                            <img src="../../../images/facebook_logo_reference_button_small.png" alt="Facebook icon">
                        </a>
                        <a href="https://www.instagram.com/mr.fogg_bar/?hl=hr" target="_blank">
                            <img src="../../../images/instagram_logo_reference_button_small.png" alt="Instagram icon">
                        </a>
                    </div>
                </div>
    
                <!-- Beginning-->
                <div class="swiper-slide swiper-slide--references">
                    <img src="../../../images/reference_site_no_006.png" alt="reference image">
                    <div class="references__preview">
                        <img src="../../../images/reference_site_no_006_preview_photo.png" alt="preview image">
                    </div>
                    <div class="references__social-icons">
                        <a href="https://coral-beach-club.com/" target="_blank">
                            <img src="../../../images/web_logo_reference_button_small.png" alt="web icon">
                        </a>
                        <a href="https://www.facebook.com/CoralBeachClubDubrovnik/" target="_blank">
                            <img src="../../../images/facebook_logo_reference_button_small.png" alt="Facebook icon">
                        </a>
                        <a href="https://www.instagram.com/coralbeachclub_croatia/" target="_blank">
                            <img src="../../../images/instagram_logo_reference_button_small.png" alt="Instagram icon">
                        </a>
                    </div>
                </div>
                <!-- End -->

                <!-- Beginning-->
                <div class="swiper-slide swiper-slide--references">
                    <img src="../../../images/reference_site_no_007.png" alt="reference image">
                    <div class="references__preview">
                        <img src="../../../images/reference_site_no_007_preview_photo.png" alt="preview image">
                    </div>
                    <div class="references__social-icons">
                        <a href="https://www.camping-simuni.hr" target="_blank">
                            <img src="../../../images/web_logo_reference_button_small.png" alt="web icon">
                        </a>
                        <a href="https://www.facebook.com/CampingVillageSimuni/" target="_blank">
                            <img src="../../../images/facebook_logo_reference_button_small.png" alt="Facebook icon">
                        </a>
                        <a href="https://www.instagram.com/campingvillagesimuni/?hl=hr" target="_blank">
                            <img src="../../../images/instagram_logo_reference_button_small.png" alt="Instagram icon">
                        </a>
                    </div>
                </div>
                <!-- End -->

                <!-- Beginning-->
                <div class="swiper-slide swiper-slide--references">
                    <img src="../../../images/reference_site_no_008.png" alt="reference image">
                    <div class="references__preview">
                        <img src="../../../images/reference_site_no_008_preview_photo.png" alt="preview image">
                    </div>
                    <div class="references__social-icons">
                        <a target="_blank">
                            <img src="../../../images/web_logo_reference_button_small.png" alt="web icon">
                        </a>
                        <a href="https://www.facebook.com/LoungeAndNightBar/" target="_blank">
                            <img src="../../../images/facebook_logo_reference_button_small.png" alt="Facebook icon">
                        </a>
                        <a href="https://www.facebook.com/LoungeAndNightBar/" target="_blank">
                            <img src="../../../images/instagram_logo_reference_button_small.png" alt="Instagram icon">
                        </a>
                    </div>
                </div>
                <!-- End -->

                <!-- Beginning-->
                <div class="swiper-slide swiper-slide--references">
                    <img src="../../../images/reference_site_no_009.png" alt="reference image">
                    <div class="references__preview">
                        <img src="../../../images/reference_site_no_009_preview_photo.png" alt="preview image">
                    </div>
                    <div class="references__social-icons">
                        <a href="http://www.platinum.com.hr/" target="_blank">
                            <img src="../../../images/web_logo_reference_button_small.png" alt="web icon">
                        </a>
                        <a href="https://www.facebook.com/platinumcaffe.kennedy/" target="_blank">
                            <img src="../../../images/facebook_logo_reference_button_small.png" alt="Facebook icon">
                        </a>
                        <a href="https://www.instagram.com/platinum_caffe_club/" target="_blank">
                            <img src="../../../images/instagram_logo_reference_button_small.png" alt="Instagram icon">
                        </a>
                    </div>
                </div>
                <!-- End -->

                <!-- Beginning-->
                <div class="swiper-slide swiper-slide--references">
                    <img src="../../../images/reference_site_no_010.png" alt="reference image">
                    <div class="references__preview">
                        <img src="../../../images/reference_site_no_010_preview_photo.png" alt="preview image">
                    </div>
                    <div class="references__social-icons">
                        <a target="_blank">
                            <img src="../../../images/web_logo_reference_button_small.png" alt="web icon">
                        </a>
                        <a href="https://www.facebook.com/platinumcaffe.kennedy/" target="_blank">
                            <img src="../../../images/facebook_logo_reference_button_small.png" alt="Facebook icon">
                        </a>
                        <a href="https://www.facebook.com/platinumcaffe.kennedy/" target="_blank">
                            <img src="../../../images/instagram_logo_reference_button_small.png" alt="Instagram icon">
                        </a>
                    </div>
                </div>
                <!-- End -->

                <!-- Beginning-->
                <div class="swiper-slide swiper-slide--references">
                    <img src="../../../images/reference_site_no_011.png" alt="reference image">
                    <div class="references__preview">
                        <img src="../../../images/reference_site_no_011_preview_photo.png" alt="preview image">
                    </div>
                    <div class="references__social-icons">
                        <a target="_blank">
                            <img src="../../../images/web_logo_reference_button_small.png" alt="web icon">
                        </a>
                        <a href="https://www.facebook.com/vanilla.bar.split/?ref=bookmarks" target="_blank">
                            <img src="../../../images/facebook_logo_reference_button_small.png" alt="Facebook icon">
                        </a>
                        <a href="https://www.instagram.com/explore/locations/236982027/vanilla-club-split/?hl=hr" target="_blank">
                            <img src="../../../images/instagram_logo_reference_button_small.png" alt="Instagram icon">
                        </a>
                    </div>
                </div>
                <!-- End -->

                <!-- Beginning-->
                <div class="swiper-slide swiper-slide--references">
                    <img src="../../../images/reference_site_no_012.png" alt="reference image">
                    <div class="references__preview">
                        <img src="../../../images/reference_site_no_012_preview_photo.png" alt="preview image">
                    </div>
                    <div class="references__social-icons">
                        <a target="_blank">
                            <img src="../../../images/web_logo_reference_button_small.png" alt="web icon">
                        </a>
                        <a href="https://www.facebook.com/BalooVodice/" target="_blank">
                            <img src="../../../images/facebook_logo_reference_button_small.png" alt="Facebook icon">
                        </a>
                        <a href="https://www.instagram.com/baloovodice/?hl=hr" target="_blank">
                            <img src="../../../images/instagram_logo_reference_button_small.png" alt="Instagram icon">
                        </a>
                    </div>
                </div>
                <!-- End -->
    
                <!--
                    To add another reference copy the code between Beginning and End,
                    paste it after the "End" comment and replace the following:
    
                    -> in the first img tag replace the name of the reference image (which has a picture and text),
                        do not modify the path, only replace "reference_site_no_006.png"
    
                    -> in the second img tag replace the name of the preview image (big image with no text),
                        do not modify the path, only replace "reference_site_no_006_preview_photo.png"
    
                    -> inside the <a> tag replace the URL inside href attribute:
                        - first is web
                        - second is Facebook
                        - third is Instagram
                    -->
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
        <div class="references__preview-container">
            <div class="references__preview-img">
                <img class="references__preview-close" src="../../../images/close_window_reference_button.png" alt="preview image">
            </div>
        </div>
    </div>
</section>