$hawkes-blue: #cfdae8;
$jordy-blue: #81abd5;
$danube: #71a3d1;
$sail: #98c6f5;
$light-sky-blue: #99ccff;
$pale-cornflower-blue: #add6ff;
$pattens-blue: #d6ebff;
$lochmara: #346799;
$prussian-blue: #003366;
$picton-blue: #6699cc;

$whisper: #e6e6e6;
$dim-grey: #666666;
$gainsboro: #dbdbdb;
