$blue: #81abd5;
$blue2: #71a3d1;
$blue3: #98c6f5;

$light-blue: #add6ff;
$light-blue2: #d6ebff;

$light-grey-blue: #cfdae8;

$blue-bullet: #6699cc;

$dark-blue: #346799;

$light-grey: #e6e6e6;
$dark-grey: #666666;
