$image-path: "../../../images";
$font-path: "../fonts";
$header-img: "../images/header/";
$businessSolutions-img: "../images/business-solutions/";
$products-img: "../images/products/";
$references-img: "../images/references/";