@import "custom/variables/variables";
@import "custom/header";
@import "custom/swiper";
@import "custom/business-solutions";
@import "custom/main-wrapper";
@import "custom/products";
@import "custom/references";
@import "custom/about";
@import "custom/contact";
@import "custom/input-checkbox";
@import "custom/g-recaptcha";
@import "custom/title";
@import "custom/box";
@import "custom/align";
@import "custom/img-box";

html, body {
    height: 100%;
}

body {
    background-color: $hawkes-blue;
}
body::-webkit-scrollbar {
    width: 5px;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}