<section id="about" class="section-offset">
    <div class="about">
        <div class="about__info">
            <div class="row">
                <div class="col-md-6">
                    <p>
                        Tvrtka <b><em>SBC rješenja d.o.o.</em></b> iz Zagreba od 2010. godine ekskluzivni je zastupnik
                        kanadske tvrtke <b><em>AzBar
                        Inc</em></b> osnovane još 1986. godine sa sjedištem u Quebecu. <b><em>AzBar</em></b> se
                        specijalizirao za projektiranje,
                        dizajn, proizvodnju i prodaju specijalne opreme za barove, restorane i hotele koja ugostitelju
                        omogućuje djelotvornu kontrolu i nadzor poslovanja, te učinkovitije i isplativije upravljanje
                        ugostiteljskim objektima.
                    </p>
                    <p>
                        Zahvaljujući inovacijama, <b><em>AzBar</em></b> je nositelj više priznanja za izvrsnost, a više od
                        16.000
                        instalacija u Kanadi, Sjedinjenim Američkim Državama i Europi potvrđuje kvalitetu proizvoda i usluge.
                    </p>
                </div>
                <div class="col-md-6">
                    <p>
                        Tvrtka <b><em>SBC rješenja</em></b> u suradnji s partnerima iz Hrvatske razvila je aplikativna
                        sučelja kojima su
                        <b><em>AzBar</em></b> sustavi povezani sa sustavima za naplatu i obračun poslovanja ugostiteljskih
                        objekata u skladu
                        s propisima Republike Hrvatske. Pored usluga instalacije i edukacije djelatnika, <b><em>SBC
                        rješenja</em></b> nude
                        savjetodavne usluge potencijalnim i postojećim korisnicima sustava u cilju povećanja prihoda i
                        zadovoljstva gostiju.
                    </p>
                    <p>
                        U Hrvatskoj, <b><em>SBC rješenja</em></b> su do sada uspješno implementirala <b><em>AzBar</em></b>
                        sustave na više od 50 lokacija,
                        čime je potvrđena naša misija: pružiti ugostiteljskim tvrtkama najbolje rješenje za kontrolu i
                        upravljanje poslovanjem implementacijom sustava visokih performansi.
                    </p>
                </div>
            </div>
        </div>
        <div class="about__data-container">
            <img src="../../../images/sbc_data_logo.png" alt="SBC logo">
            <div class="about__data">
                <div>
                    <p><b>SBC rješenja d.o.o.</b> za trgovinu i usluge</p>
                    <p>Medpotoki 18, 10000 Zagreb, Hvratska</p>
                    <p><span class="about__data-label">kontakt #1:</span> +385 91 447 400</p>
                    <p><span class="about__data-label">kontakt #2:</span> +385 98 234 683</p>
                </div>
                <div>
                    <p><span class="about__data-label">iban:</span> HR6123600001102503309</p>
                    <p><span class="about__data-label">swift:</span> ZABAHR2X</p>
                    <p><span class="about__data-label">oib:</span> 23806183146</p>
                    <p><span class="about__data-label">mbs:</span> 080761949</p>
                </div>
                <div>
                    <p><span class="about__data-label">Upis kod Trgovačkog suda u Zagrebu br.:</span> 080761949</p>
                    <p><span class="about__data-label">direktor:</span> Ivan Milinković</p>
                    <p><span class="about__data-label">član uprave:</span> Berislav Kekez</p>
                    <p><span class="about__data-label">temeljni kapital:</span> 20.000 HRK uplaćen u cijelosti</p>
                </div>
            </div>
        </div>
    </div>
</section>