<section id="business-solutions" class="section-offset">
    <div class="business-solutions">
        <div class="swiper-container swiper-container--business-solutions">
            <div class="swiper-wrapper">
                <div class="swiper-slide swiper-slide--business-solutions" >
                    <img src="../../../images/advantages_and_savings_banner_HR.png" alt="">
                </div>
                <div class="swiper-slide swiper-slide--business-solutions">
                    <img src="../../../images/basic_solution_banner_HR.png" alt="">
                    <div class="business-solutions__buttons">
                        <img src="../../../images/basic_solution_price_tag_HR.png" alt="">
                        <a href="./business-solutions.html#BS-simple"><img src="../../../images/button_banner_more_HR.png" alt=""></a>
                    </div>
                </div>
                <div class="swiper-slide swiper-slide--business-solutions">
                    <img src="../../../images/medium_solution_banner_HR.png" alt="">
                    <div class="business-solutions__buttons business-solutions__buttons--right">
                        <img src="../../../images/medium_solution_price_tag_HR.png" alt="">
                        <a href="./business-solutions.html#BS-medium"><img src="../../../images/button_banner_more_HR.png" alt=""></a>
                    </div>
                </div>
                <div class="swiper-slide swiper-slide--business-solutions">
                    <img src="../../../images/complex_solution_banner_HR.png" alt="">
                    <div class="business-solutions__buttons">
                        <img src="../../../images/complex_solution_price_tag_HR.png" alt="">
                        <a href="./business-solutions.html#BS-complex"><img src="../../../images/button_banner_more_HR.png" alt=""></a>
                    </div>
                </div>
                <div class="swiper-slide swiper-slide--business-solutions">
                    <img src="../../../images/beer_and_sport_bars_solution_banner_HR.png" alt="">
                    <div class="business-solutions__buttons business-solutions__buttons--right-top">
                        <img src="../../../images/beer_and_sport_bars_solution_price_tag_HR.png" alt="">
                        <a href="./business-solutions.html#BS-beers-and-sports-bars"><img src="../../../images/button_banner_more_HR.png" alt=""></a>
                    </div>
                </div>
                <div class="swiper-slide swiper-slide--business-solutions">
                    <img src="../../../images/installation_and_services_banner_HR.png" alt="">
                    <div class="business-solutions__buttons business-solutions__buttons--bottom">
                        <a href="./services.html#installation-and-maintenance"><img src="../../../images/button_banner_more_HR.png" alt=""></a>
                    </div>
                </div>
                <div class="swiper-slide swiper-slide--business-solutions">
                    <img src="../../../images/financing_banner_HR.png" alt="">
                    <div class="business-solutions__buttons business-solutions__buttons--center">
                        <a href="./services.html#financing"><img src="../../../images/button_banner_more_HR.png" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
    
</section>