<section class="business-solutions">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide swiper-slide--business-solutions" >
                <img src="../../../images/business-solutions/advantages_and_savings_banner_HR.png" alt="">
            </div>
            <div class="swiper-slide swiper-slide--business-solutions">
                <img src="../../../images/business-solutions/basic_solution_banner_HR.png" alt="">
            </div>
            <div class="swiper-slide swiper-slide--business-solutions">
                <img src="../../../images/business-solutions/medium_solution_banner_HR.png" alt="">
            </div>
            <div class="swiper-slide swiper-slide--business-solutions">
                <img src="../../../images/business-solutions/complex_solution_banner_HR.png" alt="">
            </div>
            <div class="swiper-slide swiper-slide--business-solutions">
                <img src="../../../images/business-solutions/beer_and_sport_bars_solution_banner_HR.png" alt="">
            </div>
            <div class="swiper-slide swiper-slide--business-solutions">
                <img src="../../../images/business-solutions/installation_and_services_banner_HR.png" alt="">
            </div>
            <div class="swiper-slide swiper-slide--business-solutions">
                <img src="../../../images/business-solutions/financing_banner_HR.png" alt="">
            </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
        <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
</section>