<section id="products" class="products">
    <div class="row">
        <div class="col-md-3 col-xs-6">
            <a href="" class="products__btn">Az dozeri</a>
            <img class="products__preview-img" src="../../../images/az_pourers_product_preview_mouse_over.png" alt="">
        </div>
        <div class="col-md-3 col-xs-6">
            <a href="" class="products__btn">Az pištolj</a>
            <img class="products__preview-img" src="../../../images/az_gun_product_preview_mouse_over.png" alt="">
        </div>
        <div class="col-md-3 col-xs-6">
            <a href="" class="products__btn">Az koktel točionik</a>
            <img class="products__preview-img" src="../../../images/az_cocktail_tower_product_preview_mouse_over.png" alt="">
        </div>
        <div class="col-md-3 col-xs-6">
            <a href="" class="products__btn">Az točionik<br>piva ili vina</a>
            <img class="products__preview-img" src="../../../images/az_beer_tower_product_preview_mouse_over.png" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-xs-6">
            <a href="" class="products__btn">Az Junior konzola</a>
            <img class="products__preview-img" src="../../../images/az_junior_product_preview_mouse_over.png" alt="">
        </div>
        <div class="col-md-3 col-xs-6">
            <a href="" class="products__btn">Az 200+<br>kontrolna tipkovnica</a>
            <img class="products__preview-img" src="../../../images/az_200_product_preview_mouse_over.png" alt="">
        </div>
        <div class="col-md-3 col-xs-6">
            <a href="" class="products__btn">Az BackBar<br>spremnik</a>
            <img class="products__preview-img" src="../../../images/az_backbar_product_preview_mouse_over.png" alt="">
        </div>
        <div class="col-md-3 col-xs-6">
            <a href="" class="products__btn">SBC instalacija<br>i održavanje</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <a href="" class="products__btn products__btn--big">Grenke financiranje</a>
        </div>
    </div>
</section>