<section class="products">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-xs-6">Az dozeri</div>
            <div class="col-md-3 col-xs-6">Az pištolj</div>
            <div class="col-md-3 col-xs-6">Az koktel točionik</div>
            <div class="col-md-3 col-xs-6">Az točionik piva ili vina</div>
        </div>
        <div class="row">
            <div class="col-md-3 col-xs-6">Az Junior konzola</div>
            <div class="col-md-3 col-xs-6">Az 200+ kontrolna tipkovnica</div>
            <div class="col-md-3 col-xs-6">Az BackBar spremnik</div>
            <div class="col-md-3 col-xs-6">SBC instalacija i održavanje</div>
        </div>
        <div class="row">
            <div class="col-md-12">Grenke financiranje</div>
        </div>
    </div>
</section>