<section id="references" class="references">
    <div class="swiper-container swiper-container--references">
        <div class="swiper-wrapper">
            <div class="swiper-slide swiper-slide--references">
                <img src="../../../images/reference_site_no_001.png" alt="">
                <div class="references__preview">
                    <img src="../../../images/reference_site_no_001_preview_photo.png" alt="">
                </div>
                <div class="references__social-icons">
                    <a href=""><img src="../../../images/web_logo_reference_button_small.png" alt=""></a>
                    <a href=""><img src="../../../images/facebook_logo_reference_button_small.png" alt=""></a>
                    <a href=""><img src="../../../images/instagram_logo_reference_button_small.png" alt=""></a>
                </div>

            </div>
            <div class="swiper-slide swiper-slide--references">
                <img src="../../../images/reference_site_no_002.png" alt="">
                <div class="references__preview">
                    <img src="../../../images/reference_site_no_002_preview_photo.png" alt="">
                </div>
                <div class="references__social-icons">
                    <a href=""><img src="../../../images/web_logo_reference_button_small.png" alt=""></a>
                    <a href=""><img src="../../../images/facebook_logo_reference_button_small.png" alt=""></a>
                    <a href=""><img src="../../../images/instagram_logo_reference_button_small.png" alt=""></a>
                </div>
            </div>

            <div class="swiper-slide swiper-slide--references">
                <img src="../../../images/reference_site_no_003.png" alt="">
                <div class="references__preview">
                    <img src="../../../images/reference_site_no_003_preview_photo.png" alt="">
                </div>
                <div class="references__social-icons">
                    <a href=""><img src="../../../images/web_logo_reference_button_small.png" alt=""></a>
                    <a href=""><img src="../../../images/facebook_logo_reference_button_small.png" alt=""></a>
                    <a href=""><img src="../../../images/instagram_logo_reference_button_small.png" alt=""></a>
                </div>
            </div>
            <div class="swiper-slide swiper-slide--references">
                <img src="../../../images/reference_site_no_004.png" alt="">
                <div class="references__preview">
                    <img src="../../../images/reference_site_no_004_preview_photo.png" alt="">
                </div>
                <div class="references__social-icons">
                    <a href=""><img src="../../../images/web_logo_reference_button_small.png" alt=""></a>
                    <a href=""><img src="../../../images/facebook_logo_reference_button_small.png" alt=""></a>
                    <a href=""><img src="../../../images/instagram_logo_reference_button_small.png" alt=""></a>
                </div>
            </div>
            <div class="swiper-slide swiper-slide--references">
                <img src="../../../images/reference_site_no_005.png" alt="">
                <div class="references__preview">
                    <img src="../../../images/reference_site_no_005_preview_photo.png" alt="">
                </div>
                <div class="references__social-icons">
                    <a href=""><img src="../../../images/web_logo_reference_button_small.png" alt=""></a>
                    <a href=""><img src="../../../images/facebook_logo_reference_button_small.png" alt=""></a>
                    <a href=""><img src="../../../images/instagram_logo_reference_button_small.png" alt=""></a>
                </div>
            </div>
            <div class="swiper-slide swiper-slide--references">
                <img src="../../../images/reference_site_no_006.png" alt="">
                <div class="references__preview">
                    <img src="../../../images/reference_site_no_006_preview_photo.png" alt="">
                </div>
                <div class="references__social-icons">
                    <a href=""><img src="../../../images/web_logo_reference_button_small.png" alt=""></a>
                    <a href=""><img src="../../../images/facebook_logo_reference_button_small.png" alt=""></a>
                    <a href=""><img src="../../../images/instagram_logo_reference_button_small.png" alt=""></a>
                </div>
            </div>

        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>

    <div class="references__preview-container">
        <div class="references__preview-img">
            <img class="references__preview-close" src="../../../images/close_window_reference_button.png" alt="">
        </div>
    </div>

</section>