<section id="references" class="references">
    <div class="swiper-container swiper-container--references">
        <div class="swiper-wrapper">

            <div class="swiper-slide swiper-slide--references">
                <img src="../../../images/reference_site_no_001.png" alt="">
                <div class="references__preview">
                    <img src="../../../images/reference_site_no_001_preview_photo.png" alt="">
                </div>
                <div class="references__social-icons">
                    <a href="" target="_blank"><img src="../../../images/web_logo_reference_button_small.png" alt=""></a>
                    <a href="" target="_blank"><img src="../../../images/facebook_logo_reference_button_small.png" alt=""></a>
                    <a href="" target="_blank"><img src="../../../images/instagram_logo_reference_button_small.png" alt=""></a>
                </div>
            </div>

            <div class="swiper-slide swiper-slide--references">
                <img src="../../../images/reference_site_no_002.png" alt="">
                <div class="references__preview">
                    <img src="../../../images/reference_site_no_002_preview_photo.png" alt="">
                </div>
                <div class="references__social-icons">
                    <a href="" target="_blank"><img src="../../../images/web_logo_reference_button_small.png" alt=""></a>
                    <a href="" target="_blank"><img src="../../../images/facebook_logo_reference_button_small.png" alt=""></a>
                    <a href="" target="_blank"><img src="../../../images/instagram_logo_reference_button_small.png" alt=""></a>
                </div>
            </div>

            <div class="swiper-slide swiper-slide--references">
                <img src="../../../images/reference_site_no_003.png" alt="">
                <div class="references__preview">
                    <img src="../../../images/reference_site_no_003_preview_photo.png" alt="">
                </div>
                <div class="references__social-icons">
                    <a href="" target="_blank"><img src="../../../images/web_logo_reference_button_small.png" alt=""></a>
                    <a href="" target="_blank"><img src="../../../images/facebook_logo_reference_button_small.png" alt=""></a>
                    <a href="" target="_blank"><img src="../../../images/instagram_logo_reference_button_small.png" alt=""></a>
                </div>
            </div>

            <div class="swiper-slide swiper-slide--references">
                <img src="../../../images/reference_site_no_004.png" alt="">
                <div class="references__preview">
                    <img src="../../../images/reference_site_no_004_preview_photo.png" alt="">
                </div>
                <div class="references__social-icons">
                    <a href="" target="_blank"><img src="../../../images/web_logo_reference_button_small.png" alt=""></a>
                    <a href="" target="_blank"><img src="../../../images/facebook_logo_reference_button_small.png" alt=""></a>
                    <a href="" target="_blank"><img src="../../../images/instagram_logo_reference_button_small.png" alt=""></a>
                </div>
            </div>

            <div class="swiper-slide swiper-slide--references">
                <img src="../../../images/reference_site_no_005.png" alt="">
                <div class="references__preview">
                    <img src="../../../images/reference_site_no_005_preview_photo.png" alt="">
                </div>
                <div class="references__social-icons">
                    <a href="" target="_blank"><img src="../../../images/web_logo_reference_button_small.png" alt=""></a>
                    <a href="" target="_blank"><img src="../../../images/facebook_logo_reference_button_small.png" alt=""></a>
                    <a href="" target="_blank"><img src="../../../images/instagram_logo_reference_button_small.png" alt=""></a>
                </div>
            </div>

            <!-- Beginning-->
            <div class="swiper-slide swiper-slide--references">
                <img src="../../../images/reference_site_no_006.png" alt="">
                <div class="references__preview">
                    <img src="../../../images/reference_site_no_006_preview_photo.png" alt="">
                </div>
                <div class="references__social-icons">
                    <a href="" target="_blank"><img src="../../../images/web_logo_reference_button_small.png" alt=""></a>
                    <a href="" target="_blank"><img src="../../../images/facebook_logo_reference_button_small.png" alt=""></a>
                    <a href="" target="_blank"><img src="../../../images/instagram_logo_reference_button_small.png" alt=""></a>
                </div>
            </div>
            <!-- End -->

            <!--
                To add another reference copy the code between Beginning and End,
                paste it after the "End" comment and replace the following:

                -> in the first img tag replace the name of the reference image (which has a picture and text),
                   do not modify the path, only replace "reference_site_no_006.png"

                -> in the second img tag replace the name of the preview image (big image with no text),
                   do not modify the path, only replace "reference_site_no_006_preview_photo.png"

                -> inside the <a> tag replace the URL inside href attribute:
                   - first is website
                   - second is Facebook
                   - third is Instagram
             -->
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
    <div class="references__preview-container">
        <div class="references__preview-img">
            <img class="references__preview-close" src="../../../images/close_window_reference_button.png" alt="">
        </div>
    </div>
</section>